@charset "utf-8";
/* CSS Document */

@keyframes headlineDrop{
  0%{font-size:6em;filter:blur(40px); }
  100%{font-size:2em;filter:blur(0px); } 
}
nav li, nav a {transition: all .33s ease-out;}

nav li:hover>ul{ animation:fadeIn .33s ease-out; }

h1 {animation: headlineDrop 1s ease-in;}

h2 {animation: subheadSlide 1s ease-in 1s;
   animation-fill-mode: both;
   }

#div {
     transition: opacity 1s linear;

  #div1{background: #264c89;}
        #div{
         transition: opacity 1s linear;
        #div:hover{
           opacity:0;
        }  
