@charset "utf-8";
/* CSS Document */

}

iframe img { 
	display: flex-box;
	float:center;
	text-align: center;
	
}
.typingclub {
	width="100%" height="1500px"
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



	




img:hover,
img:focus{
  width:800px;
  height: 800px;
}


form > p {
	font-size: 24px;
	color: linear-gradient(to right, darkcyan, skyblue;
}

label + input {
	display: block;
	clear: both;
	}

* +fieldset {
	margin: 5em 0;
	background-color: linear-gradient(to right, darkcyan, skyblue, 0.3)
	
}

label ~ input {
		display: block;
}



	
	


	


	







	









body > header > nav  > ul > li {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	
	
	
}




	
	







 
    
    


/* navigation styles */

nav > ul > li > a{
		font-family: Garamond, serif;
		font-style: italic;
		font-weight: normal;
		font-size: 1.5em;
		letter-spacing: 0.6em;
	
		
	

	}

nav >  ul  >  li  >  a:link {
	color:white;
	text-decoration: none;
	}

nav >  ul  >  li  >  a:visited {
	color:cyan;
	text-decoration: none;
	}

nav >  ul  >  li  >  a:hover {

	color:ghostwhite;
	text-decoration: none;
	text-emphasis-color: deepskyblue;
	text-emphasis-position: above;
	}







/* navigation styles */

nav > ul > li > a{
		font-family: Garamond, serif;
		font-style: italic;
		font-weight: normal;
		font-size: 1.5em;
		letter-spacing: 0.6em;
	
		
	

	}

nav >  ul  >  li  >  a:link {
	color:white;
	text-decoration: none;
	}

nav >  ul  >  li  >  a:visited {
	color:cyan;
	text-decoration: none;
	}

nav >  ul  >  li  >  a:hover {

	color:ghostwhite;
	text-decoration: none;
	text-emphasis-color: deepskyblue;
	text-emphasis-position: above;
	}



	


		
/* structural styles */
		
		article, aside, figcaption, figure, footer, header, main, nav, section {
			display: block;
	}



/* Add CSS to style the navigation bar */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
}

li {
  float: left;
}

li a {
  display: block;
  color:aqua;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
	text-shadow: 1px 1px 2px dodgerblue;
	text-justify: auto;
	
}

/* Change the link color on hover */
li a:hover {
  background-color: #111;
}

@media only screen and (max-width: 480px) {
}
@media only screen and (min-width:481px) {
}
@media only screen and (min-width:769px) {
}




